body {
  /* Cream Pixels (c) Mizanur Rahman
   * https://www.toptal.com/designers/subtlepatterns/cream-pixels/ */
  background: #fff url('cream_pixels.png');
}

body, a, .signup-submit, .signup-email {
  color: #0088ce;
}

body,
input {
  font-family: 'Source Code Pro', monospace;
}

html {
  height: 100%;
}

h1, h2, p {
  margin-top: 0;
  margin-bottom: 25px;
}

p {
  line-height: 1.4;
}

body {
  min-height: 100%;
  display: flex;
}

.container {
  padding: 15px;
  margin: auto;
  text-align: center;
  max-width: 800px;
}

.container > :last-child {
  margin-bottom: 0;
}


.brand {
  font-size: 30px;
  font-weight: 900;
}

.brand-sub {
  font-size: 20px;
  font-weight: normal;
}

.signup-head {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

a {
  font-weight: 600;
}

a:hover,
.signup-submit:hover {
  background-color: #0088ce;
  color: #fff;
}

p {
  font-size: 14px;
}

.signup-submit {
  display: inline-block;
  font-size: 18px;
  border: 2px solid;
  padding: 8px 11px;
  text-decoration: none;
  background-color: #fff;
}

.signup {
  margin-top: 20px;
  margin-bottom: 50px;
}

.signup-email, .signup-submit {
  font-size: 18px;
  box-sizing: border-box;
  height: 2.3em;
  padding: 8px 11px;
}

.signup-email {
  border: 2px solid;
  background: transparent;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.signup-submit {
  cursor: pointer;
}

@media (min-width: 700px) {
  .brand {
    font-size: 72px;
  }

  .brand-sub {
    font-size: 32px;
  }

  .signup-head {
    font-size: 24px;
  }

  .signup {
    margin-top: 40px;
    margin-bottom: 80px;
  }

  .signup-email, .signup-submit {
    display: inline-block;
    font-size: 18px;
  }

  p {
    font-size: 18px;
  }
}
