{{- $defaultConfig := .Site.Data.config.default.widgets.guides -}}
{{- $configData := ( or .Site.Data.config.widgets.guides $defaultConfig ) -}}
{{- $lang := .Site.Language.Lang -}}
{{- $config := ( ( index $configData $lang ) | default $configData ) -}}

{{- $length := ( $config.length | default 5 ) -}}

<section class='widget widget-guides sep-after'>
  <header>
    <h4 class='title widget-title'>
      {{- ( i18n "recentGuides" ) | default $config.title -}}
    </h4>
  </header>

  <ul class='list'>
  {{ range ( first $length ( where .Site.RegularPages "Type" "not in" $config.excludeTypes ) ) }}
    {{ .Render "li" }}
  {{ end }}
  </ul>
</section>
