html {
  font-size: 18px;
}

h1,
.h1 {
  @include fontSize(75px);
  font-weight: 700;
}

h2,
.h2 {
  @include fontSize(55px);
  color: theme-color("primary");
}

h3,
.h3 {
  @include fontSize(35px);
}
