{{ partial "header.html" . }}
	<main class="container homepage">
		<div class="row splash">
			<div class="text">
				<h2>{{ .Site.Params.splash.tagline }}</h2>
				<p>{{ .Site.Params.splash.text }}</p>
			</div>
		</div>
		<div class="row summaries">
				<h2>Featured Articles</h2>
				<h3><a href="/articles/">View all Content</a></h3>
				{{ range first 3 (where .Site.Pages "Params.featured" true).ByDate.Reverse }}
					{{ partial "summary.html" . }}
				{{ end }}
		</div>
		<!-- tags
		<div class="row">
			{{ partial "taxonomy.html" . }}
		</div>
	-->
		<div class="row block">
			{{ partial "contribute.html" . }}
		</div>
	</main>
{{ partial "footer.html" . }}
