body {
  background-color: theme-color("gray");
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  background-color: white;
}

img {
  @include img-fluid;
}

.center {
  text-align: center;
}

.btn, .btn:hover, .btn:active {
  background-color: theme-color("coral");
  border: 0;
  border-radius: 1em;
  font-size: 1.25em;
}

.block {
  display: block;
}

.column {
  min-width: 0;
}
