
.header-main {
  background-color: theme-color("dark-blue");
  .search-container {
    input[type=search] {
      background: theme-color("medium-blue");
      color: $white;
    }
    button {
      background: theme-color("medium-blue");
    }
  }
  #results {
    position: absolute;
    width: 20em;
    visibility: hidden;
    background-color: white;
    box-shadow: 2px 2px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.logotype {
  @include fontSize(25px);
  font-weight: 700;
  color: $white;
  &:hover, &:focus {
    color: $black;
    @include fontSize(25px);
    text-decoration: none;
  }
}

@include media-breakpoint-up(sm) {
  .logotype {
    @include fontSize(25px);
  }
}

.nav-link, .nav-link:hover, .nav-link:active {
  color: theme-color("white");
  font-size: 1.2em;
  padding-left: 1em;
}
