@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600,700);

a, a:hover, a:active {
  color: theme-color("light-blue");
  font-size: 17px;
}

html {
  font-size: 18px;
  font-family: "Open Sans";
  letter-spacing: 0;
  line-height: 23px;
}

h1,
.h1 {
  font-size: 55px;
  font-weight: bold;
  letter-spacing: 5px;
}

h2,
.h2 {
  color: theme-color("medium-blue");
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 3px;
}

h3,
.h3 {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
}

pre, code {
  font-family: "Source Code Pro";
  font-weight: 500;
  line-height: 23px;
  color: theme-color("black");
}
