@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700);


html {
  font-size: 16px;
  font-family: "Open Sans";

}

h1,
.h1 {
  font-weight: 400;
}

h2,
.h2 {
  color: theme-color("primary");
  font-weight: 300;
}

h3,
.h3 {
  font-weight: 400;
}
