// =Colors

$theme-colors: (
  "gray": #666666,
  "medium-gray": #aaa,
  "light-gray": #dcddde,
  "black": #000000,
  "darkest-blue": #004a6c,
  "darker-blue": #005d86,
  "dark-blue": #0088ce,
  "medium-blue": #00aae5,
  "light-blue": #6ed5f5,
  "coral": #ff7972,
  "white": #fff,
);

// =Options

$enable-rounded: false;
$enable-shadows: false;

// =Typography

$font-family-sans-serif: 'Source Sans Pro', sans-serif;

$body-color: #000;
$link-color: #00aae5;
$link-hover-color: theme-color("primary");
$headings-font-weight: 600;
$code-color: $body-color;
