{{ partial "header.html" . }}
	<main class="container">
		<div class="row">
			<article class="col-sm-10">
				<h1>{{ .Title }}</h1>
				<time>{{ .Date.Format "02.01.2006 15:04" }}</time>
				<div>
					{{ .Content }}
				</div>
				<div>
					<ul id="tags">
						{{ range .Params.tags }}
						<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
						{{ end }}
					</ul>
				</div>
				<div>
					{{ template "_internal/disqus.html" . }}
				</div>
			</article>
		</div>
	</main>
{{ partial "footer.html" . }}
