<div class="contribute card">
  <div class="card-body">
    <h4 class="card-title">Contribute to uncontained.io!</h4>
    <p class="card-text">Help us make uncontained.io even better! Our source code is <a href="https://github.com/redhat-cop/uncontained.io" target="_blank">available on GitHub</a>. We welcome issues and pull requests.</p>
    <a href="https://github.com/redhat-cop/uncontained.io/blob/master/CONTRIBUTING.md" target="blank" class="btn btn-primary btn-lg">Get Started</a>
  </div>
</div>
